.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    width: 100%;
  }
  
  .divider {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255,0.6);
  }
  
  .divider::before,
  .divider::after {
    content: "";
    position: absolute;
    margin-top: 10px;
    top: 50%;
    width: 35%;
    height: 1px;
    background-color:rgb(255, 255, 255,0.6);
  }
  .divider-line {
    width: 100%;
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
    color: rgb(255, 255, 255,0.6);
  }
  
  .divider::before {
    left: 0;
  }
  
  .divider::after {
    right: 0;
  }
  
  .google-login-btn, .github-login-btn {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 180px;
    padding: 10px;
    border: 1px solid #666;
    background-color: #09090b;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
    margin: 10px;
    
  }
  
  .google-login-btn:hover, .github-login-btn:hover {
    background-color: #27272a;
    transition: all 0.3s ease;
  }

  .button-group{
    display:flex;
  }
