body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    margin-bottom: 10px;
}

img {
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    max-width: 300px;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.102);
    z-index: 10;
}

.container {
    position: relative;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    background-color: #0f0f0f;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 50px;
    border: 1px solid #333;
}

.title {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.upload-form {
    margin-bottom: 20px;
}

.file-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #666;
    border-radius: 5px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.upload-button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
    position: relative;
    z-index: 2000;
}

.upload-button:hover {
    background-color: #45a049;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.server-message {
    margin-top: 20px;
    background-color: #262626;
    padding: 10px;
    border: 2px solid #666;
    border-radius: 5px;
    z-index: 2000;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-title {
    font-size: 18px;
    color: rgb(255,255,255,0.8);
}

.message-content {
    font-size: 14px;
    color: #666;
}

.image-preview-container {
    position: relative;
}

.image-preview-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.preview-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    right: 6px;
    border: 2px solid #666;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease;
    position: relative;
    z-index: 1;
}

.uploaded-image:hover {
    box-shadow:
        0 -200px 300px rgba(0, 255, 0, 0.1),
        0 50px 300px rgba(0, 255, 0, 0.5),
        0 0 300px rgba(0, 255, 0, 0.6);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    pointer-events: none;
}

.edits-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #666;
    margin-bottom: 75px;
    z-index: 2000;
}

.edits-button-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border: 2px solid #666;
    margin-top: 10px;
    z-index: 2000;
}

.edits-button-container:hover {
    border: 2px solid rgba(0, 255, 8, 0.971);
}

.edits-button-containers:hover {
    border: 2px solid rgba(0, 255, 8, 0.971);
}

.action-buttons {
    flex: 1 1 calc(20% - 10px);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.6 s ease;
    z-index: 2000;
}

.action-buttons:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}

.action-button {
    flex: 1 1 calc(20% - 10px);
    padding: 8px;
    background-color: #00000099;
    color: white;
    border: 0.5px solid #666;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2 ease;
    z-index: 2000;
}

.action-button:hover {
    border: none;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}
.action-button.selected {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #45a049;
    transform: scale(1.05);
}
.action-button:not(.selected) {
    background-color: #00000099;
}

.action-button.selected:hover {
    background-color: rgba(0, 255, 8, 0.4);
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.6);
}

.download-button {
    position: absolute;
    top: 35px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease;
    z-index: 100;
}

.download-button:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}

.save-button {
    position: absolute;
    top: 35px;
    right: 60px;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease;
    z-index: 200;
}

.save-button:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}

.slider-container input[type="range"] {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    z-index: 5;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px solid #666;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;
}

.slider-container:hover {
    border: 2px solid rgba(0, 255, 8, 0.971);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.3);
}

.filter-slider {
    width: 100%;
}

.apply-button {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease;
    z-index: 5;
}

.apply-button:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}
