body{
    background: #080808;
    overflow-x: hidden;
}
.home-container {
    padding: 20px;
    text-align: center;
}
.home-container h1 {
    color: white;
}

.features-steps-container {
    display: flex;
    justify-content: center; 
    margin: 40px 0;
}

.features-container,
.steps-container {
    flex: 0.3; 
    margin: 10px; 
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 8px;
    color: white;
    background-color: #121212;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.6s ease;
    z-index: 3;
}

.features-container h2,
.steps-container h2 {
    margin-top: 0;
}
.features-container:hover,.steps-container:hover{
    border: 2px solid rgba(0, 255, 8, 0.971);
    box-shadow: 0 0 60px rgba(0, 255, 0, 0.1),
                30px 30px 60px rgba(0, 255, 0, 0.1),
                -30px -30px 60px rgba(0, 255, 0, 0.1);
    z-index: 1;
}

.comments-section {
    margin-top: 40px; 
    font-style: italic;
    margin-bottom: 0;
    font-size: 18px;
    padding: 10px;
    width: 1000px;
    left: 14%;
    border: 1px solid #ccc;
    overflow: hidden; 
    white-space: nowrap; 
    position: relative; 
    height: 18px; 
    color: white;
}

.scrolling-comments {
    display: inline-block;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.spacing {
    display: inline-block; 
    width: 40px;
}
