.menu {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 200px; 
    background: #101010;
    color: white; 
    transition: left 0.3s ease;
    z-index: 2000; 
}

.menu-button {
    position: fixed;
    width: auto;
    top: 20px;
    left: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border: none;
    padding: 10px 15px; 
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease; 
    z-index: 10001;
}

.menu-button:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}

.menu.open {
    left: 0; 
    z-index: 10000;
}

.menu ul {
    list-style-type: none; 
    padding: 40px 15px;
    margin-top: 30px;
}

.menu li {
    margin: 10px 0; 
    text-align: center;
}

.menu a {
    color: white;
    text-decoration: none; 
    display: block; 
    padding: 10px;
    transition: background-color 0.2s;
}

.menu a:hover {
    background-color: #444;
}

.menu button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.2s;
}

.menu button:hover {
    background-color: #555;
}

.menu-footer {
    margin-top: auto;
    padding: 20px 15px;
}

.spotify-connect-button {
    background: linear-gradient(45deg, #1db954, #000, #1db954);
    background-size: 200% 0%;
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-position 0.5s ease;
    animation: gradientFlow 2s ease-in-out infinite alternate;
}


.spotify-connect-button:hover {
    background-position: right center;
}

.spotify-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    font-size: small;
}

.menu-footer .spotify-connected-button {
    background: linear-gradient(45deg, #1db954, #000000, #1db954);
    background-size: 250% 250%; 
    color: white;
    border: none;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-position 0.5s ease;
    animation: diagonalFlow 8s ease infinite;
}

.menu-footer .spotify-connected-button:hover {
    background-position: right center;
}


@keyframes diagonalFlow {
    0% { background-position: 0% 0% }
    50% { background-position: 100% 100% }
    100% { background-position: 0% 0% }
}

.spotify-logo {
    width: 16px;
    height: 16px;
    margin: 0;
    margin-right: 3px;
    padding: 0;
    border: none;
}
