.menu {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden off-screen */
    height: 100%;
    width: 200px; /* Adjusted width */
    background: rgba(255, 255, 255, 0.8); /* Background color */
    color: white; /* Text color */
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 1000; /* Make sure the menu is above other content */
}

.menu.open {
    left: 0; /* Show menu */
}

.menu ul {
    list-style-type: none; /* Remove bullets */
    padding: 40px 15px; /* Added padding for space */
    margin-top: 30px;
}

.menu li {
    margin: 10px 0; /* Space between links */
    text-align: left;
}

.menu a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline */
    display: block; /* Make links fill the width */
    padding: 10px 15px; /* Add some padding around the links */
    transition: background-color 0.2s; /* Transition for hover effect */
}

.menu a:hover {
    background-color: #444; /* Add a hover effect */
}
