.menu {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 200px; 
    background: #101010;
    color: white; 
    transition: left 0.3s ease;
    z-index: 2000; 
}

.menu.open {
    left: 0; 
}

.menu ul {
    list-style-type: none; 
    padding: 40px 15px;
    margin-top: 30px;
}

.menu li {
    margin: 10px 0; 
    text-align: left;
}

.menu a {
    color: white;
    text-decoration: none; 
    display: block; 
    padding: 10px 15px;
    transition: background-color 0.2s;
}

.menu a:hover {
    background-color: #444;
}
