.menu {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 200px; 
    background: #101010;
    color: white; 
    transition: left 0.3s ease;
    z-index: 2000; 
}


.menu-button {
    position: fixed;
    width: auto;
    top: 20px;
    left: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border: none;
    padding: 10px 15px; 
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease; 
    z-index: 10001;
}
.menu-button:hover{
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}

.menu.open {
    left: 0; 
    z-index: 10000;
}

.menu ul {
    list-style-type: none; 
    padding: 40px 15px;
    margin-top: 30px;
}

.menu li {
    margin: 10px 0; 
    text-align: left;
}

.menu a {
    color: white;
    text-decoration: none; 
    display: block; 
    padding: 10px 15px;
    transition: background-color 0.2s;
}

.menu a:hover {
    background-color: #444;
}
