.resize-image-container {
    padding: 20px;
    background-color: #2f2f2f;
    color: #ffffff;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.resize-image-container h1 {
    color: white;
}

.image-box-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
#widthInput{
    color: #666;
    background-color: #121212;
}
#heightInput{
    background-color: #121212;
    color: #666;
}
#presetSelect{
    color: #666;
    background-color: #121212;
}
.image-box {
    text-align: center;
}

.image {
    max-width: 400px;
    max-height: 400px;
}

.image-preview {
    margin: 20px 0;
}

.resize-options{
    margin: 10px 0;
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-right: 10px;
    position: relative;
    width: 70px;
    z-index: 100;
}

input[type="file"] {

    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
}


select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: relative;
    z-index: 100;
}

.ResizeButton {
    width: auto;
    margin-left: 20px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    position: relative;
    z-index: 100;
}

.ResizeButton:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}

.resize-image-page {
    text-align: center;
    color: white;
}

.resize-controls {
    margin: 20px 0;
}

.uploaded-image,
.resized-image {
    max-width: auto;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    transition: box-shadow 0.5s ease;
    position: relative;
    z-index: 10;
    background-color: #2f2f2f;
}

.uploaded-image:hover,.resized-image:hover {
    box-shadow:
        0 -200px 300px rgba(0, 255, 0, 0.1),
        0 50px 300px rgba(0, 255, 0, 0.5),
        0 0 300px rgba(0, 255, 0, 0.6);
    z-index: 0;
}


.presets {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.presets button {
    margin: 0 5px;
}


.drop-area {
    border: 2px dashed white;
    padding: 20px;
    text-align: center;
    color: white;
}

.drop-area:hover {
    background-color: #333;
}

.image-title {
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    z-index: 1000;
    position: relative;
}

.download-options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.download-options input[type="number"] {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2f2f2f;
    color: #ffffff;
}

.download-options select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2f2f2f;
    color: #ffffff;
}

.DownloadButton {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

.DownloadButton:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.5);
}

.compression-options {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.compression-options input[type="number"],
.compression-options select {
    width: auto;
    height: auto;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2f2f2f;
    color: #ffffff;
}

.compression-options input[type="number"] {
    width: 150px;
}

.compression-options p {
    margin: 0;
    font-size: 14px;
}