
html, body {
    margin: -8px;
    padding: 0;
    height: auto;
    width: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}


.signin-background {
    background-image: url('../../test.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.signin-container {
    display: flex;
    top: 0;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}


.form-container {
    width: 380px;
    padding: 20px;
    background: #0f0f0f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 7s ease;
}

.form-container:hover {
    box-shadow:
        10px 10px 80px rgba(0, 255, 0, 0.4),
        -10px -10px 80px rgba(0, 255, 0, 0.3),
        0px 0px 150px rgba(0, 255, 0, 0.2);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(255,255,255,0.9);
}


.signin-container input {
    width: 95%;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 10px;
    border: 1px solid #232326;
    border-radius: 5px;
    background-color: #121212 !important;
    color: white;
}

.signin-container p {
    margin-top: 15px;
}
.SigninButton{
    background-color: #09090b;
    color: white;
    width: 50%;
    font-size: 16px;
    font-weight:lighter;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.6s ease;
    margin-top: 5px;
}
.SigninButton:hover {
    background-color: #27272a;
    transition: all 0.3s ease;
}

.success-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    z-index: 100;
    animation: fadeOut 2s ease forwards; 
}


@keyframes fadeOut {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.redirect-message p{
    color: rgb(255, 0, 0,0.9) ; 
    text-align: center ;
    margin-bottom: 15px;
}

.error-message{
    color: rgb(255, 0, 0,0.9) ;
}
.form-container a{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.form-container p{
    color: rgb(255, 255, 255,0.4);
}
.input-group {
    position: relative;
    display: flex;
    align-items: center;
}
.input-group #email:focus,
.input-group #password:focus {
    outline: none;
    border: 1px solid #88888b;
}
.input-email-label label {
    position: relative;
    text-align: left;
    display: block;
    color: #666;
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 5px;
}

.input-password-label label {
    position: relative;
    text-align: left;
    display: block;
    color: #666;
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 5px;
}
.PasswordIcon{
    position: absolute;
    left: 90%;
    top: 20%;
    display: flex;
    color: #666;
    font-size: 1.2em;
    cursor: pointer;
}
.MailIcon{
    position: absolute;
    left: 90%;
    top: 20%;
    display: flex;
    color: #666;
    font-size: 1.2em;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #121212 inset !important;
    -webkit-text-fill-color: white !important;
    border-radius: 1px !important;
}
